*{
    outline: 0px solid red !important;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    color: maroon;
}
h3 {
    color: coral;
}
.grid{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 300px;
    padding-right: 300px;
}

hr{
    background-color: lightcoral;
    height: 5px;
    width: 100%;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;    
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

.padding{
    padding-left: 20px;
    padding-right: 20px;
}
.pad{
    padding-bottom: 0px;
    padding-top: 50px;
}
.pad1 {
    padding-bottom: 20px;
    padding-top: 20px;
}
.pad2 {
    padding-bottom: 0px;
}